{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<section class="container p-5 text-center text-sm-start align-items-center justify-content-between light-bg ">
    <div>
        <h1>{{ locals.lead.header }}</h1>
        
        <p class="lead my-4">
            {{ locals.lead.text }}
        </p>
        <button class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#contact-form">
            {{ locals.lead.button }}
        </button>
    </div>
</section>

<section class="container my-4 ultra-light-bg pt-1">
    {% include 'blog/post_list.html' %}
</section>

<div class="modal fade" id="contact-form" tabindex="-1" aria-labelledby="enrollLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST" class="post-form" action="{% url 'quote_new' %}">
            <div class="modal-header">
                <h5 class="modal-title" id="enrollLabel">{{ locals.quote_form.header }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="lead">{{ locals.quote_form.msg }}</p>
                    {% csrf_token %}
                    {% for field in form %}
                    {% if forloop.last %}
                        {% if form.recaptcha.errors %}
                        <div class="alert alert-danger">
                            {{ form.recaptcha.errors }}
                        </div>
                        {% endif %}
                    <div class="mb-3 d-none">
                        {{ form.recaptcha }}
                    </div>
                    {% else %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}"  class="col-form-label">{{ field.label }}</label>
                        {{ field }}
                        {{ field.errors }}
                    </div>
                    {% endif %}

                    {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <input type="submit" class="btn btn-primary" value="Submit"></input>
            </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
