{% block post_list %}

    <div class="container my-4">
        <h1 class="mb-4 text-center">{{ request.locals.blog_posts }}</h1>

        {% if user.is_authenticated %}
        <div class="row">
            <div class="col-md-6 mb-4">
                <button class="btn btn-secondary mx-3" href="{% url 'post_new' %}"><i class="fas fa-plus-circle"></i> {{ request.locals.new_post }}</a>
                <button class="btn btn-secondary mx-3" href="{% url 'post_draft_list' %}"><i class="fas fa-file-alt"></i> {{ request.locals.drafts }}</a>    
            </div>
        </div>
        {% endif %}
        
        <div class="row">
            {% for post in post_list %}
                <div class="col-md-6 col-lg-4 post-list-item">
                    <div class="card h-100">
                        <div class="card-body">
                            <h3 class="card-title">{{ post.title }}</h3>
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <div class="text-muted">
                                    <i class="fas fa-calendar-alt me-1"></i> {{ post.published_date|date:"F d, Y" }}
                                </div>
                            </div>
                            <div class="card-text post-preview-content">
                                {{ post.text|safe|truncatewords_html:30 }}
                            </div>
                        </div>
                        <div class="card-footer bg-transparent border-0">
                            <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-primary">
                                <i class="fas fa-book-open me-1"></i> {{ request.locals.read_more }}
                            </a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col-12 text-center">
                    <div class="alert alert-secondary">
                        <i class="fas fa-file-alt me-2"></i> {{ request.locals.no_post_msg }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}